body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}


/*.navbarcontainer {
	background-color: #4d3636;
	padding: 15px;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 0px 110px;
	font-weight: bolder;
}*/

.formcontainer {
	max-width: 400px;
	/* max-height: max-content; */
	margin-right: 120px;
	margin: 0px 200px;
	background-color: #fff;
	border: 1px solid #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 150px;
	border-radius: 10px;
	display: inline-block;
}

.input {
	width: 150%;
	margin-right: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	font-weight: bold;
}

.submit {
	width: 160%;
	border: none;
	margin: 20px 0px;
	padding: 10px;
	border-radius: 5px;
	background-color: #1877f2;
	color: white;
	font-weight: bold;
	font-size: larger;
	cursor: pointer;
}

label {
	font-weight: bold;
}

.dob {
	width: 100%;
	margin: 5px 0;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 4px;
}

.heading {
	color: #3e1313;
	text-align: center;
	padding: 10px 0px;
}

.formcontainer button {
	width: 100%;
	border-radius: 5px;
	border: none;
	margin: 5px 0px;
	padding: 10px;
	background-color: rgb(49, 222, 49);
}

/*a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
    
}*/
header {
	background-color: #f0f0f0;
	color: #000;
	text-align: center;
	padding: 10px;
}

.tablecontainer {
	max-width: 400px;
	margin: 0px auto;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
}

table {
	height: 8px;;
	width: 100%;
	text-align: center;
	background-color: #fff;
}

th, td {
	padding: 10px 0px;
}

th {
	background-color: #3e1313;
	color: white;
}

.loginmsg {
	margin-top: 100px;
	margin-left: 300px;
	display: inline-block;
}

#welcome1 {
	color: #043c53;
	font-weight: 600px;
	font-family: 'Fira Sans', sans-serif;
}

#welcome2 {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
}

#account {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
}

.reg {
	width: 40%;
	margin-left: 110px;
	padding: 10px;
	background-color: #1877f2;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#logo {
	color: rgb(146, 203, 12);
	text-align: center;
	font-size: bold;
}

.date {
	width: 150%;
	margin: 2px 0;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 4px;
}

.log {
	width: 40%;
	margin-left: 110px;
	padding: 10px;
	background-color: #1877f2;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.coursecontainer {

	width: 302px;
	background-color: white;
	border: solid f0f0f0 5px;
	margin-left: 50px;
	margin-top: 20px;
	border-radius: 5px;
	display: inline-block;
}

.coursecontainer p {
	height:100px;
	text-align: justify;
	padding: 10px;
}



.coursecontainer h4,h5{
	padding-left:10px;
}

.enroll{
	height:25px;
	width:25%;
	border:none;
	margin-left:90px;
	background-color: #1877f2;
	border-radius:5px;
	color:white;
	font-weight:bold;
	cursor: pointer;
}

.viewcourse{
	height:25px;
	width:30%;
	border:none;
	margin-left:80px;
	background-color: #1877f2;
	border-radius:5px;
	color:white;
	font-weight:bold;
	cursor: pointer;
}
.footer-container {
	margin-top:200px;
	position: relative;
  	bottom: 0;
	width: 100%;
	background-color: #000;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
}

.footer {
	margin-left: 30px;
	color: white;
	padding: 10px;
}

.item-1 {
	margin-top: 0px;
}

.item-2 {
	margin-left: 25%;
}

.item-3 {
	margin-left: 25%;
}

.item-3 a {
	padding: 15px;
}

p a {
	text-decoration: none;
	color: white;
}

p a:hover {
	text-decoration: underline;
}
