<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<footer>
		<div class="footer-container">
			<div class="footer item-1">
				<p>Quick Links</p>
				<p>
					<a href="/termsandconditions" target="_blank">Terms and
						Conditions</a>
				</p>
				<p>
				<p>
					<a href="mailto:tezsk98447@gmail.com">Contact Us</a>
				</p>
				</p>
				<p>
					<a href="#">About us</a>
				</p>
				<h1>LearnSphere</h1>
			</div>
			<div class="footer item-2">
				<p>Courses</p>
				<p>
					<a href="#">Java</a>
				</p>
				<p>
					<a href="#">Manual Testing</a>
				</p>
				<p>
					<a href="#">SQL</a>
				</p>
				<p>
					<a href="#">Python</a>
				</p>
				<p>
					<a href="#">Web Technologies</a>
				</p>
			</div>
			<div class="footer item-3">
				<p>&copy; 2023 Learn Sphere. All rights reserved.</p>
				<a href="https://www.youtube.com/" target="_blank"><img
					src="/images/youtube.png" alt="youtube" height=30px></a> <a
					href="https://www.facebook.com/" target="_blank"><img
					src="/images/ins.png" height=30px alt="Facebook"></a> <a
					href="https://www.instagram.com/" target="_blank"><img
					src="/images/facebook.png" height=30px alt="Instagram"></a> <a
					href="https://twitter.com/" target="_blank"><img
					src="/images/twitter.png" height=30px alt="Twitter"></a>
			</div>
		</div>
	</footer>
</body>
</html>