<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<title>Login page</title>
</head>
<body>
	<a id="logo" href="/"><h1>LearnSphere</h1></a>
	<br>
	<div class="loginmsg">
		<h1 id="welcome1">Welcome to LearnSphere</h1>
		<p id="welcome2">Good to see you again...!</p>
		<p id="account">Don't have an account..?</p>
		<form action="/register" method="get">
			<input type="submit" value="Register" class="reg">
		</form>
	</div>
	<div class="formcontainer">
		<form action="/api/user/validateUser" method="post">
			<label>Email:</label><br> <input type="email" name="email"
				class="input" placeholder="Enter your email"><br> <label>Password:</label><br>
			<input type="password" name="password" class="input"
				placeholder="Enter your password"><br> <input
				type="submit" name="submit" value="Login" class="submit">
			<p th:if="${message}" class="error-message" th:text="${message}"
				style="color: red"></p>
		</form>
	</div>

<div th:replace="/footer::footer"></div>

</body>
</html>