
<!DOCTYPE html>
<html>

<head>
<title>Register Page</title>
 <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
	<a id="logo" href="/"><h1>LearnSphere</h1></a>
	<br>
	<div class="loginmsg">
		<h1 id="welcome1">Welcome to LearnSphere</h1>
		<p id="welcome2">Good to see you again...!</p>
		<p id="account">Already have an account..?</p>
		<form action="/login" method="get">
			<input type="submit" value="Login" class="log">
		</form>
	</div>		
	<div class="formcontainer">
		<form action="/api/user/add" method="post">
			<label>First Name:</label><br> <input type="text"
				name="firstname" placeholder="Enter your first name" class="input"
				required pattern="[a-z A-z]{3,15}"><br>
			<br> <label>Last Name:</label><br> <input type="text"
				name="lastname" placeholder="Enter your last name" class="input"
				required pattern="[a-z A-z]{1,15}"><br>
			<br> <label>Email:</label><br> <input type="email"
				name="email" placeholder="Enter your email" class="input" required><br>
			<br> <label>Password:</label><br> <input type="password"
				name="password" placeholder="Enter your password" class="input"
				required pattern="{8}"><br>
			<br> <label>Role:</label><br> <input type="radio"
				value="Trainer" name="role" required>Trainer <input
				type="radio" value="Student" name="role" required>Student<br>
			<br> <label>DOB:</label><br> <input type="date" name="dob"
				class="date" required><br>
			<br> <label>Mobile:</label><br> <input type="text"
				name="mobile" placeholder="Enter your mobile number" class="input"
				required><br>
			<br> <input type="submit" value="Register" class="submit">
		</form>
	</div>
</body>

</html>